@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #181719;
  color: #ffffff;
  margin: 0;
}

.nav__menu {
  top: 0;
  right: 0;
  z-index: 1;
}

.nav__menu .nav__menu--toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.nav__menu .nav__menu--btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 1em;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.nav__menu--btn > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(242, 242, 242, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and Bottom Line */
.nav__menu--btn > div::before,
.nav__menu--btn > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves bottom line down */
.nav__menu--btn > div::after {
  top: 7px;
}

/* Toggle Animate */
.nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div::before,
.nav__menu .nav__menu--toggler:checked + .nav__menu--btn > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Show menu */
.nav__menu .nav__menu--toggler:checked ~ .nav__menu--list {
  visibility: visible;
}

.nav__menu .nav__menu--toggler:checked ~ .nav__menu--list > div {
  transform: scale(1);
  transition-duration: 0.2s;
}

.nav__menu .nav__menu--toggler:checked ~ .nav__menu--list > div > div {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.nav__menu .nav__menu--list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__menu .nav__menu--list > div {
  background: black;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.2s ease;
}

.nav__menu .nav__menu--list > div > div {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Menu style for devices with width greater than 750px */

@media (min-width: 750px) {
  .nav__menu .nav__menu--list > div > div,
  .nav__menu .nav__menu--list > div,
  .nav__menu .nav__menu--list {
    all: initial;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }

  .nav__menu {
    flex: 1;
  }

  .list-non-bullet {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .list-item-inline a {
    padding: 0 1em;
  }

  .nav__menu--btn > div {
    display: none;
  }
}




.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.list-non-bullet {
  list-style: none;
  padding: 1rem;
  padding-inline-start: 0;
}

.list-item-inline {
  padding: 2em 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
}

.header__brand {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  border: 1px solid;
  padding: 0.5em;
}

.main-part1 h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.875rem;
  text-align: left;
}

.main-part1 P {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: left;
  width: 70%;
}

.main-part1 a {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.main-part2 .main__img-1 {
  margin: 2rem 0;
}

.main-part2 .main__img-1 img {
  width: 100%;
  object-fit: cover;
}

.designer-card {
  width: 80%;
  display: inline-block;
  padding: 1em 2em;
  margin-top: -6rem;
  margin-left: 3em;
  background-color: rgba(24, 23, 25, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.designer-profile {
  display: grid;
  grid-template-columns: 3.5rem auto;
  grid-template-rows: 1fr 1fr;
  height: 50%;
}

.designer-profile img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}

.designer-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 0.937rem;
}

.designer-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #828282;
}

.designer-title,
.designer-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 1em;
  font-weight: 500;
}

.designer-card .design-date {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.footer {
  width: 80%;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #a9a9a9;
  text-align: center;
  margin: auto auto 0;
  padding: 0 1em 1em;
  border-top: 1px solid #a9a9a9;
}

@media (min-width: 750px) {
  .container {
    padding-top: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .main-part1 {
    margin-right: 0.5em;
  }

  .main-part1 h1 {
    font-size: 3rem;
    line-height: 3.8125rem;
  }

  .main-part1 p {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    width: 80%;
  }

  .main-part1 a {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .main-part2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .designer-card {
    width: 70%;
    margin-right: 1.5em;
  }

  .designer-name {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  .designer-title {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  .designer-card .design-date {
    font-size: 1.5rem;
    line-height: 1.9375rem;
  }

  .footer {
    border: none;
  }
}